In [33]:
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10, 8)

In [34]:
data = pd.read_csv('D:/anaconda/adult.data.csv') 
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [35]:
type(data)

pandas.core.frame.DataFrame

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [36]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [37]:
round(data[data['sex'] == 'Female']['age'].mean(), 2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [38]:
print("Доля граждан Германии = %f%%." % 
      (len(data[data['native-country'] == 'Germany'].index) / data.shape[0]*100))

Доля граждан Германии = 0.420749%.

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [39]:
ages1 = data[data['salary'] == '>50K']['age']
ages2 = data[data['salary'] == '<=50K']['age']
print("Средний возраст богатых: {0} +- {1} лет, небогатых - {2} +- {3} лет.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

Средний возраст богатых: 44 +- 10.5 лет, небогатых - 37 +- 14.0 лет.

In [40]:
data.groupby('salary').agg({'age': ['mean', 'std']})

              age
             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [41]:
data[data['salary'] == '>50K']['education'].unique() # нет

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [42]:
high_educations = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

In [43]:
all(data[data['salary'] == '>50K'].education.isin(high_educations))

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [44]:
data.groupby(['race', 'sex']).describe() #82

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                       capital-gain               ...   \
                             75%   max        count         mean  ...
race               sex                                            ...
Amer-Indian-Eskimo Female  46.00  80.0        119.0   544.605042  ...
                   Male    45.00  82.0        192.0   675.260417  ...
Asian-Pac-Islander Female  43.75  75.0        346.0   778.436416  ...
                   Male    46.00  90.0        693.0  1827.813853  ...
Black              Female  46.00  90.0       1555.0   516.593569  ...
                   Male    46.00  90.0       1569.0   702.454430  ...
Other              Female  39.00  74.0        109.0   254.669725  ...
                   Male    42.00  77.0        162.0  1392.185185  ...
White              Female  46.00  90.0       8642.0   573.610391  ...
                   Male    49.00  90.0      19174.0  1368.674455  ...

                              fnlwgt            hours-per-week             \
                                 75%        max          count       mean
race               sex
Amer-Indian-Eskimo Female  163027.50   445168.0          119.0  36.579832
                   Male    182656.00   356015.0          192.0  42.197917
Asian-Pac-Islander Female  175705.75   379046.0          346.0  37.439306
                   Male    200117.00   506329.0          693.0  41.468975
Black              Female  253759.00   930948.0         1555.0  36.834084
                   Male    298601.00  1268339.0         1569.0  39.997451
Other              Female  219441.00   388741.0          109.0  35.926606
                   Male    253334.75   481175.0          162.0  41.851852
White              Female  224836.50  1484705.0         8642.0  36.296691
                   Male    236858.75  1455435.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [45]:
data['is_married'] = data['marital-status'].apply(lambda x: x.startswith('Married'))

In [46]:
data[data['salary'] == '>50K'].is_married.value_counts(normalize=True)

True     0.859074
False    0.140926
Name: is_married, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [47]:
max_load = data['hours-per-week'].max()
print("Самая большая загрузка - {0} час./нед.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Всего {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Из них богатых {0}%".format(int(100 * rich_share)))

Самая большая загрузка - 99 час./нед.
Всего 85
Из них богатых 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [48]:
data.groupby(['native-country', 'salary']).agg({'hours-per-week': 'mean'})

                                   hours-per-week
native-country             salary
?                          <=50K        40.164760
                           >50K         45.547945
Cambodia                   <=50K        41.416667
                           >50K         40.000000
Canada                     <=50K        37.914634
                           >50K         45.641026
China                      <=50K        37.381818
                           >50K         38.900000
Columbia                   <=50K        38.684211
                           >50K         50.000000
Cuba                       <=50K        37.985714
                           >50K         42.440000
Dominican-Republic         <=50K        42.338235
                           >50K         47.000000
Ecuador                    <=50K        38.041667
                           >50K         48.750000
El-Salvador                <=50K        36.030928
                           >50K         45.000000
England                    <=50K        40.483333
                           >50K         44.533333
France                     <=50K        41.058824
                           >50K         50.750000
Germany                    <=50K        39.139785
                           >50K         44.977273
Greece                     <=50K        41.809524
                           >50K         50.625000
Guatemala                  <=50K        39.360656
                           >50K         36.666667
Haiti                      <=50K        36.325000
                           >50K         42.750000
...                                           ...
Mexico                     >50K         46.575758
Nicaragua                  <=50K        36.093750
                           >50K         37.500000
Outlying-US(Guam-USVI-etc) <=50K        41.857143
Peru                       <=50K        35.068966
                           >50K         40.000000
Philippines                <=50K        38.065693
                           >50K         43.032787
Poland                     <=50K        38.166667
                           >50K         39.000000
Portugal                   <=50K        41.939394
                           >50K         41.500000
Puerto-Rico                <=50K        38.470588
                           >50K         39.416667
Scotland                   <=50K        39.444444
                           >50K         46.666667
South                      <=50K        40.156250
                           >50K         51.437500
Taiwan                     <=50K        33.774194
                           >50K         46.800000
Thailand                   <=50K        42.866667
                           >50K         58.333333
Trinadad&Tobago            <=50K        37.058824
                           >50K         40.000000
United-States              <=50K        38.799127
                           >50K         45.505369
Vietnam                    <=50K        37.193548
                           >50K         39.200000
Yugoslavia                 <=50K        41.600000
                           >50K         49.500000

[82 rows x 1 columns]

In [49]:
data.groupby(['native-country', 'salary']).agg({'hours-per-week': 'mean'}).loc['Japan']

        hours-per-week
salary
<=50K        41.000000
>50K         47.958333